results/*
!results/collect-bench.sh
!results/vps.py
!results/current.csv
!results/current-vps.csv
!results/current.meta
!results/current-fnl.csv
!results/current-fnl-vps.csv
!results/current-fnl.meta
